certifi
cffi
charset-normalizer
colorama
cryptography
distro
Django>=6.0
django-cors-headers
django-environ
django-extensions
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
idna
pydantic
pydantic_core
pyparsing
python-dateutil
requests
six
sniffio
sqlparse
tqdm
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
websockets
gunicorn
psycopg2-binary
dj-database-url
whitenoise